# This is Comment
# This is Bash File
  
batch="Sometimes We Will Never Know The Value Of A Moment Until It Becomes Memory"

value_A=5
value_B=15
value_C=25
value_D=35
value_E=45
value_F=55
value_G=65
value_H=75
value_I=85
value_J=95


