# This is Comment
# This is Bash File
  
batch="Where There Is Hope, There Is Faith. Where There Is Faith, Miracles Happen"

batch1="Where"
batch2="There"
batch3="Hope"
batch4="There"
batch5="Faith"
batch6="Where"
batch7="There"
batch8="Faith"
batch9="Miracles"
batch10="Happen"


value_A=5
value_B=15
value_C=25
value_D=35
value_E=45
value_F=55
value_G=65
value_H=75
value_I=85
value_J=95


