# This is Comment
# This is Bash File
  
batch="Things End, People Change. And You Know What? Life Goes On."

batch1="Things"
batch2="End"
batch3="People"
batch4="Change"
batch5="You"
batch6="Know"
batch7="What"
  
value_A=5
value_B=15
value_C=25
value_D=35
value_E=45
value_F=55
value_G=65
value_H=75
value_I=85
value_J=95


