# This is Comment
# This is Bash File
  
batch="Every Pain Gives A Lesson And Every Lesson Changes A Person"

batch1="Every"
batch2="Pain"
batch3="Gives"
batch4="Lesson"
batch5="Every"
batch6="Lesson"
batch7="Changes"
batch8="Person"
  
value_A=5
value_B=10
value_C=15
value_D=20
value_E=25
value_F=30
value_G=35
value_H=40
value_I=45
value_J=50



